@use '../custom'as *;

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;

  &--intro {
    display: inline-block;
    font-weight: 700;
  }

  &--description {
    font-size: 1rem;
    display: block;
    margin-top: 1.2rem;
    text-transform: none;

    @include media-breakpoint-up(lg) {
      font-size: 1.4rem;
      display: inline-block;

    }
  }
}

$big-line-width: 90%;
$tiny-line-width: 6%;
$tiny-line-gap: 2%;

.heading-line {
  position: relative;
  width: 100%;
  height: 1rem;
  margin-bottom: 0.6rem;

  &::before {
    content: "";
    display: block;
    width: 90%;
    height: 100%;
    background-color: $primary;
    clip-path: polygon(
      10px 0,
      100% 0,
      calc(100% - 10px) 100%,
      0 100%
    );
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 90%;
    width: 10%;
    height: 100%;
    transform: skewX(-32deg);
    transform-origin: top left;

    background: linear-gradient(
      to right,
      transparent 0% 16.666%,
      $primary 16.666% 33.333%,
      transparent 33.333% 50%,
      $primary 50% 66.666%,
      transparent 66.666% 83.333%,
      $primary 83.333% 100%
    );
  }
}

.display-3 {
  &--title {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    background-image: linear-gradient(to right, $primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-up(lg) {
      font-size: 1.8rem;
    }
  }
}

.border-right {
  border-right: 0;

  @include media-breakpoint-up(sm) {
    border-right: 0.1rem solid $gray-300;
    height: 100%;
  }
}

.gradient {
  background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}