@use '../custom' as *;
@use '../components/mixins' as *;

.intro-section {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: #ffffff;
}

.mountain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.mountain-path {
  fill: url(#grad-mountain);
}

.menu {
  position: relative;
  z-index: 10;
}
